// Copyright 2025 The Lynx Authors. All rights reserved.
// Licensed under the Apache License Version 2.0 that can be found in the
// LICENSE file in the root directory of this source tree.

#ifndef CORE_TEMPLATE_BUNDLE_TEMPLATE_CODEC_BINARY_DECODER_LYNX_CONFIG_H_
#define CORE_TEMPLATE_BUNDLE_TEMPLATE_CODEC_BINARY_DECODER_LYNX_CONFIG_H_

#include <cstddef>
#include <string>

#include "base/include/value/base_value.h"
#include "core/renderer/css/dynamic_css_configs.h"
#include "core/renderer/css/parser/css_parser_configs.h"
#include "core/renderer/starlight/types/layout_configs.h"
#include "core/template_bundle/template_codec/ttml_constant.h"

namespace lynx {
namespace tasm {
enum class TernaryBool : uint8_t { TRUE_VALUE, FALSE_VALUE, UNDEFINE_VALUE };

/**
 * EntryConfig provide an independent config for entry.
 * Usually, a lazy bundle / card corresponds to an entry.
 */
class EntryConfig {
 public:
  EntryConfig() = default;
  virtual ~EntryConfig() = default;

  // layout configs
  inline const starlight::LayoutConfigs& GetLayoutConfigs() {
    return layout_configs_;
  }

  // default display linear
  inline void SetDefaultDisplayLinear(bool is_linear) {
    default_display_linear_ = is_linear;
    layout_configs_.default_display_linear_ = is_linear;
  }
  inline bool GetDefaultDisplayLinear() { return default_display_linear_; }

 protected:
  starlight::LayoutConfigs layout_configs_;

 private:
  bool default_display_linear_{false};
};

class LynxConfig : public EntryConfig {
 public:
  LynxConfig() = default;
  ~LynxConfig() override = default;

{% for config in configs %}
{% if "ALL" in config.codeGen or "SETTER" in config.codeGen %}
  inline void {{ config.setter_func_name }}({{ config.setter_input_type }} {{ config.snake_case_name }}) { {{ config.member_name }} = {{ config.snake_case_name }}; }
{% endif %}
{% if "ALL" in config.codeGen or "GETTER" in config.codeGen %}
  inline {{ config.value_type }} {{ config.getter_func_name }}() const { return {{ config.member_name }}; }

{% endif %}
{% endfor %}

  void DecodePageConfigFromJsonStringWhileUndefined(
      const std::string& config_json_string);

 protected:
   tasm::DynamicCSSConfigs css_configs_{};
   CSSParserConfigs css_parser_configs_;
{% for config in configs %}
{% if "ALL" in config.codeGen or "MEMBER" in config.codeGen %}
  {{ config.value_type }} {{ config.member_name }}{{ '{' }}{{ config.default_value }}{{ '}' }};
{% endif %}
{% endfor %}
  /**
   * Not a config but a marker to indicate whether the page config needs to be
   * posted to platform layer. In PreDecode, PageConfig will be set to platform
   * layer before `LoadBundle`, so that it does not need to be posted to
   * platform layer again, which can reduce the overhead of posting. This
   * optimization is only valid for Android now.
   * TODO(zhoupeng.z): Apply this optimization to all platforms.
   */
  bool need_post_to_platform_{true};

};
}  // namespace tasm
}  // namespace lynx

#endif  // CORE_TEMPLATE_BUNDLE_TEMPLATE_CODEC_BINARY_DECODER_LYNX_CONFIG_H_

