// Copyright 2025 The Lynx Authors. All rights reserved.
// Licensed under the Apache License Version 2.0 that can be found in the
// LICENSE file in the root directory of this source tree.

#include "core/template_bundle/template_codec/binary_decoder/lynx_config_auto_gen.h"

#include <string>

#include "core/template_bundle/template_codec/binary_decoder/lynx_config_constant_auto_gen.h"

namespace lynx {
namespace tasm {
void LynxConfig::DecodePageConfigFromJsonStringWhileUndefined(
    const std::string& config_json_string) {
  rapidjson::Document doc;

  if (!doc.Parse(config_json_string.c_str()).HasParseError()) {
    {% for config in configs %}
    {% if config.read_native %}
      if (doc.HasMember(config::{{ config.const_name }}) && doc[config::{{ config.const_name }}].Is{{ config.doc_type }}()) {
        {% if config.value_type == "TernaryBool" %}
        {{ config.setter_func_name}}(doc[config::{{ config.const_name }}].GetBool() ? TernaryBool::TRUE_VALUE : TernaryBool::FALSE_VALUE);
        {% else %}
        {{ config.setter_func_name}}(doc[config::{{ config.const_name }}].Get{{ config.doc_type }}());
        {% endif %}
        need_post_to_platform_ = true;
      }
    {% endif %}
    {% endfor %}
  }
}
}  // namespace tasm
}  // namespace lynx

