// Copyright 2025 The Lynx Authors. All rights reserved.
// Licensed under the Apache License Version 2.0 that can be found in the
// LICENSE file in the root directory of this source tree.

/**
 * The Lynx config to set.
 *
 * @public
 */

export interface Config {
{% for config in configs %}
{% if not export or (export and config.export)%}
  /**
   {% if config.desc %}
   * {{ config.desc }}
   *
   {% endif %}
   {% if config.support_platform %}
   * Supported platform: {{ config.support_platform | map('string') | join(", ") }}
   {% endif %}
   {% if config.since %}
   *
   * Since: LynxSDK {{ config.since }}
   {% endif %}
   *
   {% if config.js_default_value %}
   * @defaultValue {{ config.js_default_value }}
   {% endif %}
   {% if config.deprecated %}
   * @deprecated {{ config.deprecated }}
   {% endif %}
   */
  {{ config.name }}?: {{ config.js_value_type }}

{% endif %}
{% endfor %}
}

